.player{
    height: 100vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collector{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 30px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.songDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.songArt{
    height: 250px;
    width: 250px;
    margin: 25px;
    background-position: center;
    border-radius: 50%;
    /* border: 2px solid red; */
    box-shadow: 0px 6px 5px #ccc;
}


.songName{
    font-size: 40px;
}


.songArtist{
    font-size: 20px;
}


.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    
}

.musicSlider, .volumeSlider{
    appearance: none;
    height: 5px;
    background: #83a9ff;
    transition: opacity .2s;
}


.musicSlider:hover, .volumeSlider:hover{
    opacity: 1;
}


.musicSlider::-webkit-slider-thumb, .volumeSlider::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}


.musicSlider{
    width: 60%;
}

.volumeSlider{
    width: 40%;
}


.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.randomTrack, .nextTrack, .prevTrack, .repeatTrack, .playpauseTrack{
    padding: 20px;
    opacity: 0.8;
    transition: opacity 0.2s;
    
}


.point{
    cursor: pointer;
}

.lines{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}


.randomActive{
    color: black;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}
.lines:nth-child(1){
    animation-delay: 0s;
}
.lines:nth-child(2){
    animation-delay: 0.3s;
}
.lines:nth-child(3){
    animation-delay: 0.6s;
}
.lines:nth-child(4){
    animation-delay: 0.9s;
}
.lines:nth-child(5){
    animation-delay: 0.6s;
}
.lines:nth-child(6){
    animation-delay: 0.3s;
}
.lines:nth-child(7){
    animation-delay: 0s;
}